.Rproj.user
.Rhistory
.RData
.Ruserdata

# --- Salidas de notebooks (no versionar) ---
Notebooks/*.nb.html
Notebooks/*.html
notebooks/*.nb.html
notebooks/*.html

# --- Temporales de R / RStudio ---
*.RDataTmp
*.RData
*.Rhistory
.Rproj.user/
